In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('stocks.csv')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7408 entries, 0 to 7407
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Symbol      7408 non-null   object
 1   Name        7408 non-null   object
 2   Last Sale   7408 non-null   object
 3   Net Change  7408 non-null   float64
 4   % Change    7404 non-null   object
 5   Market Cap  6976 non-null   float64
 6   Country     7063 non-null   object
 7   IPO Year    4255 non-null   float64
 8   Volume      7408 non-null   int64
 9   Sector      6714 non-null   object
 10  Industry    6714 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 636.8+ KB

In [21]:
df.head()

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,A,Agilent Technologies Inc. Common Stock,$108.46,3.99,3.819%,3.173402e+10,United States,1999.0,1285075,Industrials,Biotechnology: Laboratory Analytical Instruments
1,AA,Alcoa Corporation Common Stock,$26.31,0.24,0.921%,4.695596e+09,United States,2016.0,3063173,Industrials,Aluminum
2,AAC,Ares Acquisition Corporation Class A Ordinary ...,$10.77,0.00,0.00%,7.604079e+08,NaN,2021.0,11470,Industrials,Metal Fabrications
3,AACG,ATA Creativity Global American Depositary Shares,$0.91,-0.04,-4.211%,2.877618e+07,China,2008.0,4041,Real Estate,Other Consumer Services
4,AACI,Armada Acquisition Corp. I Common Stock,$10.70,0.00,0.00%,0.000000e+00,United States,2021.0,114036,Finance,Blank Checks

In [ ]:
import pandas as pd
from application import db
df = pd.read_csv('stocks.csv')
df.iloc[4538, 0] = 'NANO'
db.create_all()
from application.database import User, Wallet, Stock
for index, row in df.iterrows():
    stock = Stock(symbol=row['Symbol'], name=row['Name'], last_sale=row['Last Sale'], net_change=row['Net Change'], market_cap=row['Market Cap'], ipo_year=row['IPO Year'], volume=row['Volume'], country=row['Country'], sector=row['Sector'], industry=row['Industry'])
    db.session.add(stock)

db.session.commit()

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7408 entries, 0 to 7407
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Symbol      7408 non-null   object
 1   Name        7408 non-null   object
 2   Last Sale   7408 non-null   object
 3   Net Change  7408 non-null   float64
 4   % Change    7404 non-null   object
 5   Market Cap  6976 non-null   float64
 6   Country     7063 non-null   object
 7   IPO Year    4255 non-null   float64
 8   Volume      7408 non-null   int64
 9   Sector      6714 non-null   object
 10  Industry    6714 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 636.8+ KB

In [35]:
df.drop('% Change', axis = 1)
df['Market Cap'].fillna(0,inplace=True)
df['Country'].fillna('Global',inplace=True)
df['IPO Year'].fillna(0,inplace=True)
df['Sector'].fillna('Multi',inplace=True)
df['Industry'].fillna('Multi',inplace=True)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7408 entries, 0 to 7407
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Symbol      7408 non-null   object
 1   Name        7408 non-null   object
 2   Last Sale   7408 non-null   object
 3   Net Change  7408 non-null   float64
 4   % Change    7404 non-null   object
 5   Market Cap  7408 non-null   float64
 6   Country     7408 non-null   object
 7   IPO Year    7408 non-null   float64
 8   Volume      7408 non-null   int64
 9   Sector      7408 non-null   object
 10  Industry    7408 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 636.8+ KB